body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco para contraste */
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: flex-start; /* Alinear en la parte superior */
    height: 100vh;
    margin: 0;
    padding: 20px; /* Añadir un pequeño margen para separación */
}

form {
    background-color: #333; /* Fondo del formulario en gris oscuro */
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    border: 2px solid #1c3bd7; /* Borde del formulario */
    width: 900px; /* Ajustar el ancho del formulario */
}



